<!DOCTYPE html>
<html>
  <h1>User index</h1>
<div class=user>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name  <%= @user.name %></p>
  <p>introduction</p>
<% if @user == current_user %>
  <%= link_to "Edit", "/users/#{@user.id}/edit"%>
<% end %>

  <h2>New Book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <div class ="new-book">Title</div>
  <%= f.text_field :title %>

  <div class ="new-book">Opinion</div>
  <%= f.text_area :body %>

<div class="button"><%= f.submit '  Create Book  '%></div>

<% end %>

</div>
<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>  </th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
 <% @books.each do |book| %>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %>
        </td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>

      </tr>
    <% end %>
  </tbody>
</table>


</html>