<!DOCTYPE html>
<html>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<main>
<div class="container px-5">
  <div class="row">
    <div class="col-md-3">
      <div class="user">
        <h4>User info</h4>
          <%= image_tag @user.get_profile_image(100,100) %>
            <p>name  <%= @user.name %></p>
            <p>introduction  <%= @user.introduction %></p>

          <% if @user == current_user %>
            <%= link_to edit_user_path(@user.id) , class: 'btn btn-outline-secondary btn-block' do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>

      </div>
      <div class = "newbook">
      <h4>New Book</h4>
        <% if @book.errors.any? %>
          <%= @book.errors.count %> errors prohibited this book from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>

<%= form_with model: @book do |f| %>
  <div class ="new-book">Title</div>
  <%= f.text_field :title %>

  <div class ="new-book">Opinion</div>
  <%= f.text_area :body %>

<div class="button"><%= f.submit '  Create Book  ' ,class: "btn btn-success btn-sm "%></div>

<% end %>

      </div>

 </div>
</div>


  <div class="col-md-8 offset-md-1">
<h4>Books</h4>

<table>
  <thead>
    <tr>
      <th>  </th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
 <% @books.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image(80,80) %>
            <% end %>
        </td>
         <td><%= link_to book_path(book) do %>
           <%= book.title %>
             <% end %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>




</main>
</html>
    </div>
  </div>
</div>